* {
    margin: 0;
}

:root::-webkit-scrollbar {
    display: none;
}

:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
    --primary-color: #004D80;
}

body {
    background-color: bisque;
}

.main {
    height: 100vh;
    width: calc(100vh/1.41421);
    margin: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: white;
    max-width: 100%;
    padding: 15px;
    padding-left: 0;
}

.inner-header {
    background-color: var(--primary-color);
    padding: 10px;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.links {
    display: flex;
    margin-top: 5px;
}

.link {
    display: flex;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
    align-items: center;
}

.last-link {
    border-right: none;
}

.link>i {
    margin-right: 4px;
}

.link>p {
    font-size: 11px;
}

.content {
    width: 100%;
    display: flex;
    font-size: 14px;
    margin-top: 3px;
}

.content-column {
    width: 50%;
    max-width: 50%;
    padding: 0 15px;
}

.content-column-bar {
    border-right: 1px solid var(--primary-color);
}

.section {
    margin-bottom: 10px;
}

.section>p {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 3px;
}

.section>ul>li {
    font-size: 14px;
    margin-left: -30px;
    margin-bottom: 4px;
}

.section>ul>li::marker {
    font-size: 10px;
}

.section-columns {
    display: flex;
    margin-bottom: -10px;
}

.section-column {
    width: 50%;
}